@font-face {
    font-family: 'Inconsolata';
    src: url('/Users/mkreuschnervsp/git/berlinersc-football-analysis.github.io/styles/fonts/Inconsolata/static/Inconsolata-Regular.ttf') format('ttf');
}

h1.title {
    display: none;  /* Titel verstecken */
}
body, html {
    height: 100%;
    font-family: "Inconsolata", monospace;
    justify-content: center; /* Zentriert horizontal */
    text-align: center; /* Horizontales Zentrieren */
}
table tr:hover {
    background-color: #e0e0e0;
}
table {
    width: 100%;
    overflow-x: auto;
    display: block;
}
.select-container {
    margin-bottom: 0.5rem;
    justify-content: center; /* Zentriert horizontal */
    text-align: center; /* Horizontales Zentrieren */
}

/* Formatierung der Auswahlfelder */
select {
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Inconsolata', sans-serif;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
/* Ensure the navigation bar spans the full width of the screen */
#navbar {
    width: 100%; /* Make it span the full width */
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: #000; /* Black background */
    font-size: 1.3rem;
}

/* Make the nav buttons also fill their columns properly */
.w3-row .w3-button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.w3-row .w3-button:hover {
    background-color: #333; /* Lighter shade for hover effect */
}

/* Ensure the content below starts after the navbar */
body {
    margin-top: 2.5rem; /* Adjust based on navbar height */
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
    justify-content: center; /* Zentriert horizontal */
    text-align: left; /* Horizontales Zentrieren */
    margin: 0 auto;
}

#dataTable th {
    background: #f4f4f4;
    text-align: center; /* Horizontales Zentrieren */
}

.matchday-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.2rem;
}

#matchdaySelect {
width: 70%;
}

#dataMatchday {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.2rem;
    text-align: center;
}

#about {
    justify-content: center; /* Zentriert horizontal */
    text-align: center; /* Horizontales Zentrieren */
    display: flex;
}

