@font-face {
    font-family: 'Inconsolata';
    src: url('https://github.com/mkreuschner/berlinersc-football-analysis.github.io/tree/main/styles/fonts/Inconsolata/static/Inconsolata-Regular.ttf') format('ttf');
}
h1.title {
    display: none;  /* Titel verstecken */
}
body, html {
    height: 100%;
    font-family: "Inconsolata", monospace;
    justify-content: center; /* Zentriert horizontal */
    text-align: center; /* Horizontales Zentrieren */
    margin-top: 1.5rem; /* Adjust based on navbar height */
}
/* Ensure the navigation bar spans the full width of the screen */
#navbar {
    width: 100%; /* Make it span the full width */
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: #000; /* Black background */
    font-size: 1.3rem;
}

/* Make the nav buttons also fill their columns properly */
.w3-row .w3-button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.w3-row .w3-button:hover {
    background-color: #333; /* Lighter shade for hover effect */
}

/* General styling for the rest of the content */
.w3-content {
    margin-top: 1rem;
    padding: 0.5rem;
}

.dropdown {
    position: absolute;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

/* Tabelle optimieren */
table {
    width: 90%; /* Begrenzte Breite, passt zu den Auswahlfeldern */
    max-width: 700px; /* Maximale Breite */
    margin: 0 auto; /* Zentriert die Tabelle */
    border-collapse: collapse; /* Entfernt doppelte Linien */
    text-align: center; /* Zentriert Inhalte */
}

th, td {
    padding: 8px;
    font-size: 0.8rem; /* Kleinere, aber gut lesbare Schrift */
    vertical-align: middle;
    text-align: center;
}

.dropdown {
    font-size: 0.6rem; /* Schriftgröße für die Dropdowns */
    padding: 0.1rem;
    height: 2rem; /* Größere Höhe für bessere Lesbarkeit */
    width: 3rem; /* Breite angepasst für Nummern */
    text-align: center;
    margin-top: -15px; /* Leicht nach oben verschoben */
    margin-left: -30px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table, th, td {
    border: none; /* Entfernt sichtbare Linien */
}

/* Tabelle bündig mit den Auswahlfeldern */
select, table {
    margin: 0 auto; /* Horizontal zentriert */
}

select {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.0rem;
    width: 100%;
    max-width: 400px;
}

#tableContainer {
    display: flex;
    justify-content: center; /* Zentriert die Tabelle */
    margin-top: 20px;
}
#footballFieldContainer {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    aspect-ratio: 2 / 3; /* Maintain aspect ratio */
    background-color: black;
    border: 2px solid white;
}