@font-face {
    font-family: 'Inconsolata';
    src: url('/Users/mkreuschnervsp/git/berlinersc-football-analysis.github.io/styles/fonts/Inconsolata/static/Inconsolata-Regular.ttf') format('truetype');
}
h1.title {
    display: none;
}
body, html {
    height: 100%;
    font-family: "Inconsolata", monospace;
    justify-content: center; /* Zentriert horizontal */
    text-align: center; /* Horizontales Zentrieren */
}
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    font-size: 1.3rem;
}
.navbar a {
    display: block;
    padding: 0.9375rem;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #333;
}
.select-container {
    margin-bottom: 0.5rem;
    justify-content: center; /* Zentriert horizontal */
    text-align: center; /* Horizontales Zentrieren */
}
/* Formatierung der Auswahlfelder */
select {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
}
/* Make the nav buttons also fill their columns properly */
.w3-row .w3-button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}
/* Ensure the content below starts after the navbar */
body {
    margin-top: 2.5rem; /* Adjust based on navbar height */
}

canvas {
    width: 100%; /* Breite passt sich an */
    height: auto; /* Höhe wird von JavaScript festgelegt */
    display: block;
}

#resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Abstand zwischen den Boxen */
    width: 100%;
    padding: 1rem;
    max-width: 1200px; /* Maximalbreite für großen Bildschirm */
    margin: 0 auto; /* Zentriere den Container */
}


#resultContainer .resultBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Abstand zwischen den Elementen */
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

footer {
    width: 100%;
    position: relative;
    background-color: #f1f1f1;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #eee;
}